.DS_Store
env/
.DS_Store

.vscode/
build/
*.egg-info/
*.o
__pycache__/
*.c
*.so

env2/
reinstall.sh
sample_notebook/.ipynb_checkpoints/
sample_notebook/Untitled.ipynb
sample_notebook/oeis.ipynb
dist/

