appnope==0.1.4
asttokens==2.4.1
brewer2mpl==1.4.1
comm==0.2.2
contourpy
cycler==0.12.1
Cython==3.0.10
debugpy==1.8.1
decorator==5.1.1
Deprecated==1.2.14
executing==2.0.1
fonttools==4.51.0
ggplot==0.11.5
hopcroftkarp==1.2.5
ipykernel==6.29.4
ipython
jedi==0.19.1
joblib==1.4.0
jupyter_client==8.6.1
jupyter_core==5.7.2
kiwisolver==1.4.5
matplotlib
matplotlib-inline==0.1.7
mizani
nest-asyncio==1.6.0
numpy
packaging==24.0
pandas
parso==0.8.4
patsy==0.5.6
persim==0.3.5
pexpect==4.9.0
pillow==10.3.0
platformdirs==4.2.1
plotnine
prompt-toolkit==3.0.43
psutil==5.9.8
ptyprocess==0.7.0
pure-eval==0.2.2
Pygments==2.17.2
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pytz==2024.1
pyzmq==26.0.2
ripser==0.6.8
scikit-learn
scipy
seaborn
six==1.16.0
stack-data==0.6.3
statsmodels
tabulate
threadpoolctl
tornado
traitlets
typing_extensions
tzdata
wcwidth
